.cardimg{
    width: 20%;
    height:auto;
    margin: 1% 2%;
    border-radius: 25px;
    
}
.cardm{
    
    display: flex;
    flex-direction: row;
    margin: 5% 5%;
    border: thick double ;
    
    

}
.cardtext{
    background-color: #f6cd4f;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    
    
    
}
.cardlm{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    line-height: 200%;
    width: 200%;
    text-align: center;
    
}
.movte{
    text-align:justify;
justify-items: center;
margin: 3% 3%;


}
.titremovte{
    font-size: xx-large;
    justify-content: space-between;

}